{% extends 'base.html.twig' %}

{% block title %}Modifier un Utilisateur{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Modifier l'utilisateur : <b>{{ user.username }}</b></h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {{ include('user/_form.html.twig') }}
            </div>
            <div class="card-footer">
                <a href="{{ path('user_index') }}"><i class="fas fa-angle-double-left"></i></a>
            </div>
        </div>
    </div>
{% endblock %}
